@import url("https://fonts.googleapis.com/css?family=Mukta+Vaani:300,regular,700&display=swap");

body,
html {
  font-family: "Mukta Vaani";
  font-size: 16px;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3CA5F1;
}

p {
  margin: 0 0 1rem 0;
}

input,
select,
textarea {
  font-size: 1rem;
  font-family: "Mukta Vaani";
  margin: 0;
  border: 0;
  outline: 0;
  background: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Semibold";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #000;
  font-family: "Mukta Vaani";
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  padding: 0;
}

button {
  all: unset;
}

.button {
  cursor: pointer;
  border: 1px solid #3CA5F1;
  display: inline-block;
  font-weight: 700;
  color: #fff;
}

.button-primary {
  background-color: #3CA5F1;
  -webkit-box-shadow: 0px 5px 15px rgba(60, 165, 241, 0.3);
          box-shadow: 0px 5px 15px rgba(60, 165, 241, 0.3);
}

.button-secondary {
  font-weight: 700;
  color: #3CA5F1;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: 32px;
  border-radius: 10px;
  line-height: 26px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.search__input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8E969F;
}

.search__input::-moz-placeholder {
  /* Firefox 19+ */
  color: #8E969F;
}

.search__input:-ms-input-placeholder {
  /* IE 10+ */
  color: #8E969F;
}

.search__input:-moz-placeholder {
  /* Firefox 18- */
  color: #8E969F;
}

.row {
  margin: 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  padding: 0 10px;
}

.col-25 {
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.col-33 {
  width: 33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

.col-50 {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.col-66 {
  width: 66%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
          flex: 0 0 66%;
}

.col-75 {
  width: 75%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}

.icon {
  background: url("../img/Icons.svg") no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  --bg-position: 30px 30px;
  background-position: var(--bg-position);
}

.icon-cart {
  --bg-position: -180px -100px;
  margin-right: 18px;
}

.icon-bell {
  --bg-position: -180px -220px;
  margin-right: 0;
}

.icon-heart {
  --bg-position: -20px -60px;
}

.icon-location {
  --bg-position: -100px -180px;
  margin-left: 0px;
  margin-right: 0;
}

.icon-search {
  --bg-position: -260px -220px;
  opacity: 0.5;
}

.icon-offers {
  --bg-position: -220px -220px;
}

.icon-more {
  --bg-position: -100px -20px;
}

.icon-star {
  --bg-position: -300px -140px;
}

.icon-favorite {
  --bg-position: -100px -60px;
}

.icon-arrow-right {
  --bg-position: -180px -20px;
}

.icon-mask {
  -webkit-mask: url("../img/Icons.svg");
          mask: url("../img/Icons.svg");
  -webkit-mask-position: var(--bg-position);
          mask-position: var(--bg-position);
  background: #8E969F;
}

.search-icon {
  position: absolute;
  top: 11px;
  left: 0;
  pointer-events: none;
}

.favorite-icon {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  position: absolute;
  top: 10px;
  right: 9px;
  z-index: 1;
}

.container {
  max-width: 1210px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff;
}

.header__top {
  text-align: right;
}

.header__top a {
  margin-left: 32px;
  font-size: 13px;
  font-weight: 300;
  color: #000;
}

.header__bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form {
  position: relative;
}

.search__input {
  width: 280px;
  padding-left: 30px;
}

.search__input:focus {
  opacity: 1;
}

.search__city {
  cursor: pointer;
  margin-left: 60px;
}

.search-button {
  border-radius: 10px;
  line-height: 30px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 19px;
  padding-left: 32.5px;
  padding-right: 32.5px;
  margin-left: 64px;
}

.header__line {
  border: 0;
  border-bottom: 1px solid #D9DBDD;
  margin-top: 21px;
  margin-bottom: 10px;
}

.menu-top {
  margin-top: 36px;
  margin-bottom: 36px;
}

.menu-top__list {
  position: relative;
  padding-right: 42px;
  height: 50px;
  overflow: hidden;
}

.menu-top__item {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
}

.menu-top__item + .menu-top__item {
  margin-left: 12px;
}

.menu-top__link {
  color: #000;
  line-height: 30px;
}

.more-icon {
  position: absolute;
  top: 8px;
  right: 0;
}

.page {
  padding-top: 150px;
}

.slider-main {
  margin-bottom: 49px;
}

.slider-main__slider {
  width: 66.1%;
  margin-left: 20px;
}

.slider-main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-main__box {
  width: 32.2%;
  padding: 48px 9px 48px 48px;
}

.slider-main__box-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 51px;
  letter-spacing: -0.59px;
  margin-bottom: 48px;
}

.slider-main__box-text {
  font-size: 19px;
  line-height: 22px;
}

.recent {
  margin-bottom: 48px;
}

.recent__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;
}

.card {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.card:hover .card__title {
  color: #3ca5f1;
}

.card:hover .card__image .icon,
.card:hover .card__image::before,
.card:hover .card__image .card-button {
  visibility: visible;
  opacity: 1;
}

.card__image {
  position: relative;
  height: 0;
  padding-top: 58.21%;
  margin-bottom: 8px;
}

.card__image::before {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  content: '';
  position: absolute;
  top: 10px;
  right: 9px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
}

.card__image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.card__title {
  font-weight: 700;
  font-size: 19px;
  line-height: 26px;
  margin-bottom: 4px;
  color: #000;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.card__address,
.card__star {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.07px;
  margin-bottom: 4px;
}

.card__star {
  color: #8E969F;
  margin-top: auto;
}

.card-button {
  line-height: 24px;
  padding: 3px 14px;
  border-radius: 17px;
  position: absolute;
  bottom: 9px;
  right: 20px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.recent__slider {
  position: relative;
}

.recent-gradient {
  width: 183px;
  height: 100%;
  background: -o-linear-gradient(183.15deg, #FFFFFF 22.15%, rgba(255, 255, 255, 0) 97.19%);
  background: linear-gradient(266.85deg, #FFFFFF 22.15%, rgba(255, 255, 255, 0) 97.19%);
  position: absolute;
  top: 0;
  right: 0;
}

.recent__slider .splide__arrow--prev {
  display: none;
}

.recent__slider .splide__arrow--next {
  background-color: transparent;
  position: absolute;
  top: 85px;
  right: -10px;
}

/*
@keyframes slideInSide {
from {
	transform: translateX(-100%);
	}
to {
		transform: translateX(0);
	}
}

@keyframes slideOutSide {
from {
	transform: translateX(0);
	}
to {
	transform: translateX(-100%);
	}
} */

/* <svg  fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M281.98 242.73L277.5 238.25" stroke="#8E969F" stroke-width="2" stroke-linecap="round"/>
<circle cx="273" cy="233" r="6" stroke="#8E969F" stroke-width="2"/>
</svg>*/

@media (max-width: 992px) {
  body,
  html {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  body,
  html {
    font-size: 14px;
  }

  .col {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .col-mobile-25 {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }

  .col-mobile-33 {
    width: 33%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
  }

  .col-mobile-50 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .col-mobile-66 {
    width: 66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66%;
            flex: 0 0 66%;
  }

  .col-mobile-75 {
    width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
}