@import url("https://fonts.googleapis.com/css?family=Mukta+Vaani:300,regular,700&display=swap");

body,
html {
  font-family: "Mukta Vaani";
  font-size: 16px;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3CA5F1;
}

p {
  margin: 0 0 1rem 0;
}

input,
select,
textarea {
  font-size: 1rem;
  font-family: "Mukta Vaani";
  margin: 0;
  border: 0;
  outline: 0;
  background: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Semibold";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #000;
  font-family: "Mukta Vaani";
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  padding: 0;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.button {
  cursor: pointer;
  border: 1px solid #3CA5F1;
  display: inline-block;
  font-weight: 700;
  color: #fff;
}

.button-primary {
  background-color: #3CA5F1;
  -webkit-box-shadow: 0px 5px 15px rgba(60, 165, 241, 0.3);
          box-shadow: 0px 5px 15px rgba(60, 165, 241, 0.3);
}

.button-secondary {
  font-weight: 700;
  color: #3CA5F1;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 10px;
  line-height: 30px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.search__input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8E969F;
}

.search__input::-moz-placeholder {
  /* Firefox 19+ */
  color: #8E969F;
}

.search__input:-ms-input-placeholder {
  /* IE 10+ */
  color: #8E969F;
}

.search__input:-moz-placeholder {
  /* Firefox 18- */
  color: #8E969F;
}

.row {
  margin: 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  padding: 0 10px;
}

.col-15 {
  width: 15%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
}

.col-25 {
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.col-33 {
  width: 33.33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
}

.col-39 {
  width: 39.33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39.33%;
          flex: 0 0 39.33%;
}

.col-50 {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.col-60 {
  width: 60%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.col-66 {
  width: 66%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
          flex: 0 0 66%;
}

.col-75 {
  width: 75%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}

.icon {
  background: url("../img/Icons.svg") no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  --bg-position: 30px 30px;
  background-position: var(--bg-position);
}

.icon-cart {
  --bg-position: -180px -100px;
}

.icon-bell {
  --bg-position: -180px -220px;
}

.icon-heart {
  --bg-position: -20px -60px;
}

.icon-location {
  --bg-position: -100px -180px;
}

.icon-search {
  --bg-position: -260px -220px;
  opacity: 0.5;
}

.icon-offers {
  --bg-position: -220px -220px;
}

.icon-more {
  --bg-position: -100px -20px;
}

.icon-star {
  --bg-position: -300px -140px;
}

.icon-star-half {
  --bg-position: -300px -170px;
}

.icon-star-gray {
  --bg-position: -300px -200px;
}

.icon-favorite {
  --bg-position: -100px -60px;
}

.icon-arrow-right {
  --bg-position: -180px -20px;
}

.icon-help {
  --bg-position: -140px -220px;
}

.icon-facebook {
  --bg-position: -20px -220px;
}

.icon-instagram {
  --bg-position: -60px -220px;
}

.icon-linkedin {
  --bg-position: -100px -220px;
}

.icon-language {
  --bg-position: -140px -180px;
}

.icon-mask {
  -webkit-mask: url("../img/Icons.svg");
          mask: url("../img/Icons.svg");
  -webkit-mask-position: var(--bg-position);
          mask-position: var(--bg-position);
  background: #8E969F;
}

.search-icon {
  position: absolute;
  top: 11px;
  left: 0;
  pointer-events: none;
}

.heart-icon {
  margin-right: 8px;
}

.favorite-icon {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  position: absolute;
  top: 10px;
  right: 9px;
  z-index: 2;
}

.offers-icon {
  position: absolute;
  left: -35px;
}

.info__link + .info__link {
  margin-left: 18px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container {
  max-width: 1240px;
  padding: 0 40px;
  margin: 0 auto;
}

.header {
  padding: 21px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px solid #D9DBDD;
}

.header__buttons {
  margin-left: 32px;
}

.header-top {
  margin-bottom: 6px;
}

.header-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__link {
  letter-spacing: 0.07px;
  color: #000000;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
}

.header-top__link + .header-top__link {
  margin-left: 32px;
}

.header-bottom img {
  display: block;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f6f7;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search__input {
  padding-left: 30px;
  width: 100%;
  line-height: 30px;
  background: transparent;
}

.search__input-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search__input-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__input:focus {
  opacity: 1;
}

.search__city {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: inherit;
  background: #f6f6f7;
}

.search-button {
  border-radius: 10px;
  line-height: 30px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 19px;
  padding-left: 32.5px;
  padding-right: 32.5px;
  margin-left: 10px;
}

.button-toggle {
  display: none;
  position: absolute;
  top: 30px;
  right: 21px;
  z-index: 10;
}

.button-toggle__bar {
  width: 24px;
  height: 3px;
  background: #000;
  display: block;
  margin-bottom: 5px;
  border-radius: 3px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.menu-mobile {
  display: none;
  visibility: hidden;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: white;
  width: 250px;
  height: 100%;
  overflow: auto;
}

.menu-mobile__list {
  height: 100%;
  list-style: none;
  padding: 0;
  text-align: center;
  padding: 15px;
  text-align: left;
}

.menu-mobile__item {
  margin-bottom: 1.5rem;
  line-height: 30px;
}

.menu-mobile__link {
  font-size: 1.5rem;
  color: #151515;
}

.open-menu-mobile {
  -webkit-animation: slideIn .3s ease-out forwards;
          animation: slideIn .3s ease-out forwards;
  visibility: visible;
}

.close-menu-mobile {
  -webkit-animation: slideOut .3s ease-out forwards;
          animation: slideOut .3s ease-out forwards;
  visibility: visible;
}

.make-visible {
  display: block;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.75);
}

.menu-top {
  margin-top: 36px;
  margin-bottom: 36px;
}

.menu-top__list {
  position: relative;
  padding-right: 42px;
  height: 50px;
  overflow: hidden;
}

.menu-top__item {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  background: #f6f6f7;
}

.menu-top__item + .menu-top__item {
  margin-left: 12px;
}

.menu-top__link {
  color: #000;
  line-height: 30px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.menu-top__link:hover {
  color: #3ca5f1;
  line-height: 30px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.special {
  background: rgba(60, 165, 241, 0.2);
  border-radius: 12px;
}

.more {
  position: static;
}

.more-icon {
  position: absolute;
  top: 8px;
  right: 0;
}

.page {
  padding-top: 102px;
}

.slider-main {
  margin-bottom: 49px;
}

.slider-main__box-text {
  font-weight: 400;
}

.slider-main__slider {
  margin-left: 20px;
}

.slider-main__slider .splide__arrows {
  display: none;
}

.slider-main__slider .slider-title {
  font-size: 23px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  bottom: 44px;
  left: 24px;
}

.slider-main__slider .slider-button {
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.07px;
  color: #fff;
  position: absolute;
  top: 24px;
  left: 24px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 17px;
  padding: 6px 15px;
  font-family: inherit;
}

.slider-main__slider .star-rating {
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.slider-main__slider .icon + .icon {
  margin-left: -9px;
}

.slider-main__slider .card__image {
  padding-top: 44%;
}

.slider-main__slider .card__image::before {
  display: none;
}

.slider-main__slider .card__image img {
  border-radius: 15px;
}

.slider-main__slider .splide__pagination {
  position: absolute;
  bottom: 29px;
}

.slider-main__slider .splide__pagination li + li {
  margin-left: 6px;
}

.slider-main__box {
  padding: 48px;
  background: url("../img/slider-bg.svg") no-repeat;
}

.slider-main__box-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 51px;
  letter-spacing: -0.59px;
  margin-bottom: 48px;
}

.slider-main__box-text {
  font-size: 19px;
  line-height: 22px;
}

.recent {
  margin-bottom: 47px;
}

.section__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;
}

.card {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.card button {
  z-index: 2;
}

.card:hover .card__title {
  color: #3ca5f1;
}

.card:hover .card__image::before,
.card:hover .favorite-icon,
.card:hover .card-button {
  visibility: visible;
  opacity: 1;
}

.card__image {
  position: relative;
  height: 0;
  padding-top: 58.21%;
  margin-bottom: 8px;
}

.card__image::before {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  content: '';
  position: absolute;
  top: 10px;
  right: 9px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
}

.card__image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.card__title {
  font-weight: 700;
  font-size: 19px;
  line-height: 26px;
  margin-bottom: 4px;
  color: #000;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.card__address,
.card__star {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.07px;
  margin-bottom: 4px;
  color: #000;
}

.card__star {
  color: #8E969F;
  margin-top: auto;
  margin-bottom: 0;
}

.card-button {
  line-height: 24px;
  padding: 3px 14px;
  border-radius: 17px;
  position: absolute;
  bottom: 9px;
  right: 20px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.card__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.recent__slider {
  position: relative;
}

.recent-gradient {
  width: 183px;
  height: 100%;
  background: -o-linear-gradient(183.15deg, #FFFFFF 22.15%, rgba(255, 255, 255, 0) 97.19%);
  background: linear-gradient(266.85deg, #FFFFFF 22.15%, rgba(255, 255, 255, 0) 97.19%);
  position: absolute;
  top: 0;
  right: 0;
}

.recent__slider .splide__arrow--prev {
  display: none;
}

.recent__slider .splide__arrow--next {
  background-color: transparent;
  position: absolute;
  top: 40%;
  right: -10px;
}

.near {
  margin-bottom: 60px;
}

.near .row:not(:last-child) .card {
  margin-bottom: 48px;
}

.more-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.more-container__button {
  padding: 8px 135px;
  font-size: 19px;
}

.footer {
  color: #8E969F;
  border-top: 1px solid #D9DBDD;
  padding-top: 48px;
  padding-bottom: 46px;
}

.footer .social-link + .social-link {
  margin-left: 12px;
}

.footer__title {
  margin-bottom: 24px;
}

.footer-top {
  margin-bottom: 58px;
}

.footer-menu__item {
  margin-bottom: 8px;
}

.footer-menu__link {
  color: inherit;
}

.footer-special {
  position: relative;
}

.footer-bottom {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.07px;
}

.footer-bottom button {
  font-weight: 700;
  letter-spacing: 0.07px;
  font-size: inherit;
  color: inherit;
}

.footer-bottom button + button {
  margin-left: 48px;
}

.footer-bottom .row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-bottom__copyright {
  margin: 0;
}

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideOut {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slideOut {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.jarallax {
  position: relative;
  z-index: 0;
}

.jarallax > .jarallax-img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* support for plugin https://github.com/bfred-it/object-fit-images */

@media (max-width: 1024px) {
  body,
  html {
    font-size: 15px;
  }

  .container {
    padding: 0 10px;
    max-width: 1210px;
  }

  .info__link + .info__link {
    margin-left: 0;
  }

  .header__buttons {
    margin-left: 12px;
  }

  .info .icon-help,
  .info .icon-heart,
  .info .join-button {
    display: none;
  }

  .menu-top {
    font-size: 0.93rem;
  }

  .button {
    font-size: 1.07rem;
  }

  .bell-icon {
    margin-left: 10px;
  }

  .page {
    padding-top: 129px;
  }

  .col-tablet-15 {
    width: 15%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
  }

  .col-tablet-25 {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }

  .col-tablet-60 {
    width: 60%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }

  .search-form {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .search-button {
    padding-left: 31px;
    padding-right: 31px;
  }

  .search__input {
    font-size: 0.933rem;
  }

  .button-secondary {
    padding-left: 19px;
    padding-right: 19px;
  }

  .search__city {
    font-size: 0.93rem;
  }

  .footer-bottom button + button {
    margin-left: 28px;
  }

  .footer .offers-icon {
    display: none;
  }

  .slider-main__box-text {
    font-size: 16px;
  }

  .slider-main__box-title {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  body,
  html {
    font-size: 14px;
  }

  .col {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .col-mobile-25 {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }

  .col-mobile-33 {
    width: 33%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
  }

  .col-mobile-50 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .col-mobile-66 {
    width: 66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66%;
            flex: 0 0 66%;
  }

  .col-mobile-75 {
    width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }

  .info,
  .header-top,
  .search__city,
  .search-button {
    display: none;
  }

  .button-toggle {
    display: block;
  }

  .menu-mobile .icon {
    margin-right: 8px;
    margin-left: 0;
  }

  .menu-mobile .button {
    display: block;
    text-align: center;
    padding: 9px;
    border-radius: 10px;
  }

  .icon-search {
    top: 0;
  }

  .header-bottom img {
    margin-bottom: 10px;
  }

  body.lock {
    overflow: hidden;
  }

  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer {
    text-align: center;
  }

  .footer__title {
    margin-bottom: 10px;
    margin-top: 24px;
  }

  .footer__first-title {
    margin-top: 0;
  }

  .footer-top {
    margin-bottom: 40px;
  }

  .footer-bottom .col:not(:last-child) {
    margin-bottom: 35px;
  }

  .page {
    padding-top: 111px;
  }

  .near {
    margin-bottom: 0;
  }

  .near .card {
    margin-bottom: 48px;
  }
}